/* @import "primereact/resources/themes/lara-light-blue/theme.css"; */
/* @import "primereact/resources/themes/lara-dark-blue/theme.css"; */
/* @import "primereact/resources/themes/lara-light-cyan/theme.css"; */
/* @import "primereact/resources/primereact.min.css"; */

.p-dropdown-filter-container input.p-dropdown-filter {
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}